<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Varifie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css')}}">
</head>

<body>

    <!-- NavBar -->
    <div class='navi' style="font-size: 1.5em;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='img/logo.svg')}}"
                    height="50px" width="100px" class="d-inline-block align-top" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse px-2" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Products<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Use Cases</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Integration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Company</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right">
                    <li>
                        <div class="btn-nav"><a class="btn btn-danger btn-small navbar-btn ext-btn" href=#>Try Now!</a>
                        </div>
                    </li>
                    <li>
                        <div class="btn-nav"><a class="btn btn-primary btn-small navbar-btn ext-btn"
                                href="#">Contact</a>
                        </div>
                    </li>
                </ul>
            </div>

        </nav>
    </div>
    <!-- NavBar Done -->

    <div class="prt1">
        <div class="row">
            <div class="col-md-6 col-xs-12 box">
                <div class="col-xs-12 col-md-10 col-lg-8 boxcnt">

                    <span class="text-center">
                        <h3>Account Registration</h3>
                    </span>
                    <br />
                    <form id="details" action="" method="POST">

                        <div class="form-group">
                            <select onChange="window.location.href=this.value" class="form-control" id="idtype" name="doctype">
                                <option value="" disabled>ID Type</option>
                                <option value="/aadhar">Aadhar</option>
                                <option value="/passport">Passport</option>
                                <option value="/license" selected>Driving License</option>
                                <option value="/voterid">Voter ID</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="name" placeholder="Name" name="name" required>
                        </div>

                        <div class="form-group">
                            <select class="form-control" id="gender" name="gender" required>
                                <option value="" disabled>Gender</option>
                                <option>Male</option>
                                <option>Female</option>
                                <option value="other">Other</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="idnum" placeholder="ID Number" name="idval" required>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="address" placeholder="Address" name="address" required>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="email" placeholder="Email" name="email" required>
                        </div>

                        <div class="form-group">
                            <input type="date" class="form-control" id="address" placeholder="Date of Birth" name="dob" required>
                        </div>

                        <div class="form-group">
                            <label for="imagesid" style="text-align: left;">Upload Images (Front and Back Side)</label>
                            <input type="file" multiple class="form-control-file" id="imagesid" name="files" required>
                        </div>

                        <div class="col-xs-12">
                            <button class="btn btn-primary btn-block" type="submit">Submit</button>
                        </div>

                    </form>


                </div>
            </div>
        </div>
    </div>


    <!--Footer-->

    <footer class="mainfooter" role="contentinfo">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">

                            <ul class="list-unstyled">
                                <li><a href="#"></a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Jurisdictions</a></li>
                                <li><a href="#">People</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">

                            <ul class="list-unstyled">
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Events</a></li>
                                <li><a href="#">News & Insights</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">

                            <ul class="list-unstyled">
                                <li><a href="#">Legal Notice</a></li>
                                <li><a href="#">Privacy Statement</a></li>
                                <li><a href="#">Site Disclaimer & cookies Policy</a></li>
                                <li><a href="#">Terms of Business</a></li>
                                <li><a href="#">Policy Statements</a></li>
                                <li><a href="#">eAlerts Signup</a></li>
                                <li>
                                    <a href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <img src="{{ url_for('static', filename='img/logowh.svg')}}" height="100px"
                            width="200px">
                        <br />
                        <br />
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li><a href="#" class="icoYoutube" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12 copy">
                        <p class="text-center">&copy; Copyright 2020 - Varifie. All rights reserved.</p>
                    </div>
                </div>


            </div>
        </div>
    </footer>











    <!--Scripts-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', filename='cam.js') }}"></script>


</body>

</html>